#homepage-img {
  width: 10%;
  display: block;
  position: relative;
  /* top: -1em; */
  margin-left: auto;
  margin-right: auto;
  /* left: 4em; */
}

.heading {
  text-align: center;
}

#zip-code-form {
  display: block;
  text-align: center;
}

#details {
  display: flex;
  justify-content: center;
}

#temp {
  margin-right: 5%;
}
#feels-like {
  margin-left: 5%;
}
